<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>

		<add key="Power1ServerAdr" value="127.0.0.1"/>
		<add key="Power1ServerPort" value="30000"/>
		
		<add key="Voltage" value="50"/>
		<add key="MaxCurrent" value="20"/>
		<add key="MinCurrent" value="-20"/>
		<add key="MaxPower" value="10000"/>
		<add key="MinPower" value="-10000"/>
		
		
		
		<add key="ClampCount" value="5"/>
		<add key="ReleaseCount" value="5"/>
		<add key="PushCount" value="5"/>
		<add key="ClampSpan" value="20"/>
		<add key="ReleaseSpan" value="20"/>
		<add key="PushSpan" value="20"/>

		<add key="ReleaseWaitSpan" value="1000"/>

		<add key="WaitValveChangeFinishSpan" value="100"/>
		<add key="WaitSpanBeforePush" value="200"/>
		<add key="WaitValveGoBack" value="100"/>
		



		<add key="IsPushFirst" value="0"/>
		<add key="IsLiner" value="0"/>
		
		
		<add key="DRate" value="2000000"/>
		<add key="ARate" value="500000"/>
		<add key="CardNo" value="0"/>
		<add key="MsgInterval" value="10"/>
		<add key="ResistorEnabel" value="1"/>
		<add key="Protocol" value="1"/>
		<add key="FrameType" value="0"/>
		
		<add key="FrameSendType" value="0"/>
		<add key="FrameExpType" value="1"/>
		<add key="FrameTimerNo" value="1"/>

		<add key="SendForceScale" value="2"/>
		<add key="RecvForceScale" value="4.0"/>
		<add key="RecvForceJudgeDelt" value="50.0"/>
		<add key="RecvMsgInterval" value="10"/>
		
		<add key="ClampPosition" value="0"/>
		<add key="ClampSpeed" value="0"/>
		<add key="ClampModReq" value="1"/>
		<add key="ClampTorque" value="0"/>
		<add key="ClampNormalMode" value="1"/>
		<add key="ClampForce" value="14000"/>
		<add key="ClampEnable" value="1"/>
		<add key="ClampForceReq" value="0"/>
		<add key="ReleasePosition" value="0"/>
		<add key="ReleaseSpeed" value="0"/>
		<add key="ReleaseModeReq" value="1"/>
		<add key="ReleaseTorque" value="0"/>
		<add key="ReleaseNormalMode" value="1"/>
		<add key="ReleaseForce" value="0"/>
		<add key="ReleaseEnable" value="1"/>
		<add key="ReleaseForceReq" value="0"/>
		<add key="FL_Send" value="0x601"/>
		<add key="FL_Recv" value="0x602"/>
		<add key="FR_Send" value="0x605"/>
		<add key="FR_Recv" value="0x606"/>
		<add key="RL_Send" value="0x609"/>
		<add key="RL_Recv" value="0x60a"/>
		<add key="RR_Send" value="0x60d"/>
		<add key="RR_Recv" value="0x60e"/>
		<add key="XDuration" value="20.0"/>
		<add key="FileChangeMinutes" value="60.0"/>
		<add key="DaqFrequency" value="1000"/>
		<add key="SamplesPerChannel" value="50"/>
		<add key="SerialPort" value="COM3"/>
		<add key="Baud" value="115200"/>
		<add key="Parity" value="0"/>
		<add key="DataBits" value="8"/>
		<add key="StopBit" value="1"/>
		<add key="SerialPortRetrys" value="5"/>
		<add key="CanRecvTimeSpanMillSecs" value="10.0"/>
		<add key="DIChannel" value="Dev1/port0/line"/>
		<add key="DoChannel" value="Dev1/port1/line"/>
		<add key="AOChannel" value="Dev1/ao0"/>
		<add key="StartPosDINo" value="1"/>
		<add key="EndPosDINo" value="2"/>
		<add key="LimitStartPosDINo" value="3"/>
		<add key="LimitEndPosDINo" value="4"/>
		<add key="VPPMD3No" value="0"/>
		<add key="VPPMD1No" value="0"/>
		<add key="VPPMD2No" value="1"/>
		<add key="AdjustDoNo" value="2"/>
		<add key="DirectionValveChannel" value="1"/>
		<add key="PowerChannel" value="0"/>
		<add key="AlertChannel" value="3"/>
		<add key="VppmWorkMode" value="Factory"/>
		<add key="MedianLens" value="10"/>
		
		<add key="SerialSendIntervalSpan" value="100"/>
		<add key="DevResetWaitSpan" value="3000"/>
		<add key="RecvCanLens" value="64"/>
		<add key="DaqTimeBias" value="0.0"/>
		<add key="ValveMode" value="1"/>
		<add key="ClampAoVol" value="6.0"/>
		<add key="ReleaseAoVol" value="4.0"/>
	
		
	</appSettings>
</configuration>
